@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: transparent;
    --foreground: #ffffff;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent !important;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}